

* {
    margin: 0px;
    padding: 0px;
}

#footer-kinal {
    background-color: black;
    text-align: center;
    color: white;
    padding: 4px;
    position: fixed;
    bottom: 0px;
    width:100%;
    font-size: 15px;

}

body{
    background: rgb(35,55,109);
    background: radial-gradient(circle, rgba(43, 67, 143,1) 0%, rgba(27, 44, 92,2) 0%, rgba(43, 67, 143,1) 85%);
}

#kinal-img-principal{
    position: absolute;
    width: 500px;
    height: 500px;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    margin: auto;
}