/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/09/2021, 11:04:46 AM
    Author     : melga
*/

body{

    background: rgb(35,55,109);
    background: radial-gradient(circle, rgba(43, 67, 143,1) 0%, rgba(27, 44, 92,2) 0%, rgba(43, 67, 143,1) 85%);

}